@using ClassLibrary.FMS.DataModels
@using ClassLibrary.FMS.DataModels.Models
@{
    ViewData["Title"] = "Login BackOffice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var users = ViewBag.Users as List<NotActiveUsersOfBuildingModel>;
    int usersNum = 0;
    int building = users.Count;
    if (building > 2)
        building = 2;
}

<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 ToggleMedia"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold text-toggel">DASHBOARD</small></button>

<!-- Demo content -->

<img class="imgWorker" src="~/icon/worker illestration.png">
<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">

        <h1 class="helloWorker">Hello @ViewBag.username </h1>
        <p>We wish you a happy working day ! </p>
    </div>
</div>
<!-- Box info -->
<div class="content">
    <div class="row ">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row ">
                        <div class="col-5 col-md-4 ">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/worker-icon.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="tableHederTextBox card-category" style="font-size:14px">Workers</p>
                                <p class="card-title">@ViewBag.Workers<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/emp_icon.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="tableHederTextBox card-category" style="font-size:14px">Beneficiaries</p>
                                <p class="card-title">@ViewBag.Beneficiaries<p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/time-left.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">

                            <div class="numbers">
                                <p class="tableHederTextBox card-category" style="font-size:14px">Open Requests</p>
                                <p class="card-title">@ViewBag.Open<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/sign-check-icon.png" width="60px" height="60px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">

                            <div class="numbers">
                                <p class="tableHederTextBox card-category" style="font-size:14px">Closed Requests</p>
                                <p class="card-title">@ViewBag.Closed<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Box info -->
<!-- Box info -->
<div class="content">
    <div class="row ">
        @for (int i = 0; i< building; i++)
        {
            NotActiveUsersOfBuildingModel buildingObj = users.ElementAt(i);
            <!-- Bulding Number 1 info -->
            <div class="col-lg-6 ">
                <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                    <div class="card-body ">

                        <h5 class="tableHederText" style="margin-bottom: 20px">Bulding NO. @buildingObj.BuildingNumber.ToString() </h5>
                        @{ 
                            usersNum = buildingObj.BeneficiariesList.Count;
                            if (usersNum > 3)
                                usersNum = 3;
                        }
                        @for (int j = 0; j < usersNum; j++)
                        {
                            var user = buildingObj.BeneficiariesList.ElementAt(j);
                            <div class="row" style="margin-top: 15px">
                                <div class="col-3 col-md-2 ">
                                    <div class="icon-big text-center icon-warning" style="font-size: 44px; color:#652572;">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                </div>
                                <div class="col-9 col-md-10">
                                    <h4 class="card-category smallNamesText">@user.FirstName.ToString() @user.LastName.ToString()</h4>
                                    <p class="card-title smallEmailText">@user.Email.ToString()<p>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--End  Bulding Number 1 info -->
        }

    </div>
</div>

<!-- End Box info -->
