@{
    ViewData["Title"] = "Login BackOffice";
}

<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">DASHBOARD</small></button>

<!-- Demo content -->

<img class="imgWorker" src="~/icon/worker illestration.png">
<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">

        <h1 class="helloWorker">Hello @ViewBag.username </h1>
        <p>We wish you a happy working day ! </p>
    </div>
</div>
<!-- Box info -->
<div class="content">
    <div class="row ">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row ">
                        <div class="col-5 col-md-4 ">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/plus.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="newtext1 card-category">Workers</p>
                                <p class="card-title">@ViewBag.Workers<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/time-left.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="opentext card-category">Beneficiaries</p>
                                <p class="card-title">@ViewBag.Beneficiaries<p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/sign-check-icon.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">

                            <div class="numbers">
                                <p class="closetext card-category">Open Requests</p>
                                <p class="card-title">@ViewBag.Open<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/sign-check-icon.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">

                            <div class="numbers">
                                <p class="canseltext card-category">Closed Requests</p>
                                <p class="card-title">@ViewBag.Closed<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Box info -->
