@using ClassLibrary.FMS.DataModels.Models
@model MaintenanceManagerModel
@{
    ViewData["Title"] = "Login BackOffice";
}


<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Maintenance requests</small></button>

<!-- Demo content -->
<!--New Request-->

<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="newtext">New Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="BuildingManagerMaintananceRequestsNewtablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="BuildingManagerMaintananceRequestsNewtable" class="table cust-datatable dataTable no-footer ">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Specialization Type
                                </th>
                                <th style="min-width:100px;">
                                    Assigned Worker
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                                <th style="min-width:150px;">
                                    Request Information
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OpenRequests)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialization_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("", "BuildingManagerRequestsInfo", "BackOffice", new ServiceRequestAssignmentModel { RequestID = item.ServiceRequestID, EmployeeUsername = item.Specialization_Type }, new { @class = "fa-edit fa fa-edit" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End New Request-->
<!--Open Request-->
<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="opentext1">Opened Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="BuildingManagerMaintananceRequestsOpentablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="BuildingManagerMaintananceRequestsOpentable" class="table cust-datatable dataTable no-footer ">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Specialization Type
                                </th>
                                <th style="min-width:100px;">
                                    Assigned Worker
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ApprovedRequests)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialization_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Open Request-->
<!--Closed Request-->
<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="closetext1">Closed Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="BuildingManagerMaintananceRequestsClosedtablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="BuildingManagerMaintananceRequestsClosedtable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Specialization Type
                                </th>
                                <th style="min-width:100px;">
                                    Assigned Worker
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ClosedRequests)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialization_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Closed Request-->
<!--Canceled Request-->
<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="canseltext1">Canceled Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="BuildingManagerMaintananceRequestsCanceledtablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="BuildingManagerMaintananceRequestsCanceledtable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Specialization Type
                                </th>
                                <th style="min-width:100px;">
                                    Assigned Worker
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CanceledRequests)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialization_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Canceled Request-->
<!-- End demo content -->

<link href="~/js/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/js/DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>

}
