@model IEnumerable<ClassLibrary.FMS.DataModels.SP_GetMMOpenRequests_Result>

@{
    ViewData["Title"] = "MaintananceManagerDashboard2";
}

<h1>MaintananceManagerDashboard2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRequestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assigned_Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestCloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescribtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned_Worker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestIssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestCloseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescribtion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_Creator)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
