@model IEnumerable<ClassLibrary.FMS.DataModels.SP_GetMMOpenRequests_Result>
@{
    ViewData["Title"] = "Login BackOffice";
}

<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">DASHBOARD</small></button>

<!-- Demo content -->

<img class="imgWorker" src="~/icon/worker illestration.png">
<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">

        <h1 class="helloWorker">Hello @ViewBag.username !</h1>
        <p>We wish you a happy working day ! </p>
    </div>
</div>
<!-- Box info -->
<div class="content">
    <div class="row ">
        

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/time-left.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="opentext card-category">Opened Requests</p>
                                <p class="card-title">@ViewBag.NoNewRequests<p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/icon/sign-check-icon.png" width="50px" height="50px">
                            </div>
                        </div>
                        <div class="col-7 col-md-8">

                            <div class="numbers">
                                <p class="closetext card-category">Closed Requests</p>
                                <p class="card-title">@ViewBag.NoClosedRequests<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- End Box info -->
<!--Start New Request-->
<div class="content " style=" margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="newtext">New Request</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="MaintananceWorkerDashboardNewtablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="MaintananceWorkerDashboardNewtable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    @Html.DisplayNameFor(model => model.ServiceRequestID)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => model.BuildingID)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => model.Specialization_Type)
                                </th>
                                <th style="min-width:100px;">
                                    @Html.DisplayNameFor(model => model.Assigned_Worker)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => model.RequestIssueDate)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialization_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End New Request-->
<link href="~/js/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/js/DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>
}