@using ClassLibrary.FMS.DataModels.Models
@model MaintenanceManagerModel
@{
    ViewData["Title"] = "Login BackOffice";
}


<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Maintenance requests</small></button>

<!-- Demo content -->
<!--New Request-->

<div class="container ">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="newtext">New request</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class=" form-control" id="filterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer ">
                        <thead>
                            @foreach (var item in Model.OpenRequests)
                            {
                            <tr>
                                <th style="min-width:50px;">
                                    @Html.DisplayNameFor(model => item.ServiceRequestID)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => item.BuildingID)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => item.Specialization_Type)
                                </th>
                                <th style="min-width:100px;">
                                    @Html.DisplayNameFor(model => item.Assigned_Worker)
                                </th>
                                <th style="min-width:150px;">
                                    @Html.DisplayNameFor(model => item.RequestIssueDate)
                                </th>
                                <th style="min-width:150px;">
                                    Details
                                </th>

                            </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OpenRequests)
                            {
                                
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BuildingID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Specialization_Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End New Request-->


<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">
        <h5 class="opentext">Opened request</h5>
    </div>
</div>

<!--Closed Request-->
    <div class="container ">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <h5 class="newtext">Closed request</h5>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <label for="email">Search:</label>
                                <input type="search" class=" form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead>
                                @foreach (var item in Model.ClosedRequests)
                                {
                                    <tr>
                                        <th style="min-width:50px;">
                                            @Html.DisplayNameFor(model => item.ServiceRequestID)
                                        </th>
                                        <th style="min-width:150px;">
                                            @Html.DisplayNameFor(model => item.BuildingID)
                                        </th>
                                        <th style="min-width:150px;">
                                            @Html.DisplayNameFor(model => item.Specialization_Type)
                                        </th>
                                        <th style="min-width:100px;">
                                            @Html.DisplayNameFor(model => item.Assigned_Worker)
                                        </th>
                                        <th style="min-width:150px;">
                                            @Html.DisplayNameFor(model => item.RequestIssueDate)
                                        </th>

                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClosedRequests)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BuildingID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Specialization_Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Assigned_Worker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Closed Request-->


    <div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
        <div class="container">
            <h5 class="canseltext">Canseled request</h5>
        </div>
    </div>

    <!-- End demo content -->

    <link href="~/js/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/js/DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    @section scripts{
        <script src="~/js/DataTables/datatables.min.js"></script>
        <script src="~/js/DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    }
