@using ClassLibrary.FMS.DataModels.Models
@model MaintenanceManagerModel
@{
    ViewData["Title"] = "Login BackOffice";
    Layout = "_MWLayout";
}


<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 ToggleMedia "><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold text-toggel">Maintenance Requests</small></button>

<!-- Demo content -->
<div class="form-group">
    @if ((string)TempData["Ref"] == "TrueReq")
    {
        <div class="alert alert-success">
            <strong>The request has been closed successfully.</strong>
        </div>
    }
</div>
<!--New Request-->

<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="tableHederText">Maintenance Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <i class="fas fa-search btnSearch "></i>
                            <input type="search" class=" form-control" id="MaintananceManagerNew2tablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="MaintananceWorkerRequestsNewtable" class="table cust-datatable dataTable no-footer ">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                                <th style="min-width:150px;">
                                    Request Information
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OpenRequests)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("", "WorkerRequestsInfo", "BackOffice", new ServiceRequestAssignmentModel { RequestID = item.ServiceRequestID }, new { @class = "fa-edit fa fa-edit" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End New Request-->
<!--Closed Request-->

<div class="content " style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <h5 class="tableHederText">Closed Requests</h5>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchInput">
                            <i class="fas fa-search btnSearch "></i>
                            <input type="search" class=" form-control" id="MaintananceManagerNew2tablefilterbox" placeholder=" ">
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width:100%;" id="MaintananceWorkerRequestsClosedtable" class="table cust-datatable dataTable no-footer ">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">
                                    Service Request No.
                                </th>
                                <th style="min-width:150px;">
                                    Building No.
                                </th>
                                <th style="min-width:150px;">
                                    Request Issue Date
                                </th>
                                <th style="min-width:150px;">
                                    Request Close Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ClosedRequests)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuildingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestIssueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestCloseDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End Closed Request-->
<!-- End demo content -->

<link href="~/js/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/js/DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>

}
