@model ClassLibrary.FMS.DataModels.SP_GetSpecificServiceRequestInfo_Result
@{
    ViewData["Title"] = "Login BackOffice";
}

<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Maintenance requests</small></button>

<!-- Demo content -->
<div class="jumbotron jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">
        <h5 class="reqestNotext">request NO. @Model.ServiceRequestID</h5>


        <div class="container " style="margin-bottom: 30px;">
            <div class="row">
                <div class="col-md-12 main-datatable">
                    <div class="card_body">
                        <div class="row d-flex">
                            <h5 class="newtext">New Requests</h5>
                            <div class="col-sm-8 add_flex">
                                <div class="form-group searchInput">
                                    <label for="email">Search:</label>
                                    <input type="search" class=" form-control" id="filterbox" placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="overflow-x">
                            <table style="width:100%;" id="newtable" class="table cust-datatable dataTable no-footer ">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px;">
                                            Request Creator
                                        </th>
                                        <th style="min-width:150px;">
                                            Request Issue Date
                                        </th>
                                        <th style="min-width:150px;">
                                            Building No.
                                        </th>
                                        <th style="min-width:100px;">
                                            Service Type
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                @Model.Request_Creator
                                            </td>
                                            <td>
                                                @Model.RequestIssueDate
                                            </td>
                                            <td>
                                                @Model.BuildingID
                                            </td>
                                            <td>
                                                @Model.Specialization_Type
                                            </td>
                                        </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <!--Brife Description -->
        <p class=" colorB">Brife Description </p>
        <p>
            @Model.ServiceDescribtion
        </p>

        <h5>Assign Worker</h5>
        <!--Select Worker -->
        <div class="form-group mlr">

            <select class="form-control input" id="exampleFormControlSelect1">
                <option>Select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class=" text-center">
            <button type="submit" class="btnSignInCardgreen " data-toggle="modal" data-target="#loginModalAccept" value="Accept">Accept</button>
            <button type="submit" class="btnSignInCard " data-toggle="modal" data-target="#loginModalReject" value="Accept">Reject</button>


        </div>

    </div>
</div>


<!-- End Demo content -->
<!--  demo PopUp Accept -->
<div class="modal fade pt-60" role="dialog" id="loginModalAccept">
    <div class="modal-dialog">
        <div class="modal-content W-300">
            <div class="modal-body  text-center">
                <img class="imgcheck" src="check_icon.png">
                <h3 class="modal-title mbtc">Thank you</h3>
                <p class="p-pup">
                    The request has been successfully Accept
                </p>
                <button class="gotit-btn">GOT IT</button>
            </div>
        </div>
    </div>
</div>
<!--  End PopUp Accept -->
<!--  demo PopUp Reject -->
<div class="modal fade pt-60" role="dialog" id="loginModalReject">
    <div class="modal-dialog">
        <div class="modal-content W-300">
            <div class="modal-body  text-center">
                <img class="imgcheck" src="check_icon.png">
                <h3 class="modal-title mbtc">Thank you</h3>
                <p class="p-pup">
                    The request has been successfully Reject
                </p>
                <button class="gotit-btn">GOT IT</button>
            </div>
        </div>
    </div>
</div>
<!--  End PopUp Reject -->
