@using ClassLibrary.FMS.DataModels;
@model ClassLibrary.FMS.DataModels.Models.NewServiceRequestModel;
@{
    ViewData["Title"] = "Login BackOffice";
    List<SelectListItem> ServiceType = new List<SelectListItem>();
    List<SP_GetAllSpecializations_Result> Specializations = ViewBag.ServicesList as List<SP_GetAllSpecializations_Result>;
    int buildingNO = ViewBag.BuildingNumber;
    string username = ViewBag.Username as string;

    foreach (var item in Specializations)
    {
        ServiceType.Add(new SelectListItem { Text = item.SpecializationName , Value = item.SpecializationID.ToString() });
    }


    Model.BuildingID = buildingNO;
    Model.CreatorUsername = username;
}



    
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Create New Requests</small></button>

    <!-- Demo content -->
    <div class="jumbotron jumbotron-fluid " style="border-radius: 25px; background:white;">
        <div class="container">
            <h5 class="reqestNotext" style="margin-bottom: 20px;">Create New Request</h5>
            @using (Html.BeginForm("SubmitCreateRequest", "PortalSystem", FormMethod.Post, new { @class = "needs-validation", style = "margin-bottom: 30px;" }))
            {
                @Html.HiddenFor(x => x.BuildingID)
                @Html.HiddenFor(x => x.CreatorUsername)
                <div class="form-row">
                    <div class="col-lg-6 mb-2">
                        <label for="validationTooltip01" class="colorB">Bulding NO.</label>
                        <input type="text" disabled="disabled" class="form-control input3" id="validationTooltip01" placeholder="@buildingNO">
                    </div>

                    <div class="col-lg-6 mb-2">
                        <label for="validationTooltip02" class="colorB">Malfunction Type</label>
                        @Html.DropDownListFor(x => x.SpecializationID, ServiceType, "Select Service Type", new { @class = "form-control input3" })
                    </div>

                </div>

                <div class="mb-3 col-lg-12" style="margin-top: 20px;">
                    <label for="exampleFormControlTextarea1" placeholder="Type Your Description .. " class="form-label colorB">Brife Description</label>
                 @Html.TextAreaFor(x => x.Describtion, new { @class = "form-control input3",  placeholder = "Type Your Description .. ", rows = "3" })
                 </div>
            <div class=" text-center">
                <button type="submit" class="btnSignInCard " data-toggle="modal" data-target="#loginModalReject" value="Accept">Submit</button>
            </div>
            }

        </div>
    </div>


<!-- End Demo content -->
<!--  Start PopUp Reject -->
<div class="modal fade pt-60" role="dialog" id="loginModalReject">
    <div class="modal-dialog">
        <div class="modal-content W-300">
            <div class="modal-body  text-center">
                <img class="imgcheck" src="check_icon.png">
                <h3 class="modal-title mbtc">Thank you</h3>
                <p class="p-pup">
                    The request has been successfully Submitted
                </p>
                <button class="gotit-btn">GOT IT</button>
            </div>
        </div>
    </div>
</div>
<!--  End PopUp Reject -->
